node_modules
.pnpm-store

.next
build
dist
out

.vscode
.idea
*.log

.git
.gitignore

.env
.env.*
!.env.example
.wrangler
wrangler.json


coverage
*.test.*
*.spec.*


.DS_Store
Thumbs.db


*.tmp
*.temp